<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FarCry5MultiProfile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <FarCry5MultiProfile.Properties.Settings>
            <setting name="CurrentProfile" serializeAs="String">
                <value/>
            </setting>
            <setting name="Profiles" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveGamePath" serializeAs="String">
                <value>C:\Program Files (x86)\Ubisoft\Ubisoft Game Launcher\savegames\[YOUR ID HERE]</value>
            </setting>
            <setting name="GameId" serializeAs="String">
                <value>4311</value>
            </setting>
            <setting name="GameExe" serializeAs="String">
                <value/>
            </setting>
        </FarCry5MultiProfile.Properties.Settings>
    </userSettings>
</configuration>
